@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Manrope", sans-serif;
  background-color: #1a1a1a;
}

/* Images */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Headings */
h1 {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: -0.13rem;
  line-height: 1.25;
  text-align: center;
}

/* Sections */
.hero,
.about,
.outro {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-img,
.outro-img {
  width: 300px;
  aspect-ratio: 5/7;
  overflow: hidden;
}

.services {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.services-header {
  position: relative;
  width: 100%;
  padding: 0 2rem;
  background: #1a1a1a;
  will-change: transform;
}

.services-header img {
  object-fit: contain;
}

.services-header:nth-child(1), .services-header:nth-child(3) {
  transform: translateX(100%) translateY(0%);
}

.services-header:nth-child(2) {
  transform: translateX(-100%) translateY(0%);
  z-index: 2;
}

.services-copy {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 155vh;
  padding: 2rem 2rem 25svh 2rem;
  text-align: center;
}

.animate-text {
  position: relative;
  width: 60%;
  margin: 0 auto;
  color: #4f4f4f;
  --clip-value: 100%;
}

.animate-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  clip-path: inset(0 0 var(--clip-value) 0);
  will-change: clip-path;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2rem;
    letter-spacing: -0.05rem;
  }

  .animate-text {
    width: 100%;
  }
}
